---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

      <div >
          <div >
    <h2 class="post-list-heading">In the Media</h2>
            <p>An interview I gave for The Register: </p>
              <a href="https://www.theregister.co.uk/2019/03/20/openai_language_model_facebook_chat/" class="text-dark"><h3 class="post-list">Could OpenAI's 'too dangerous to release' language model be used to mimic you online?</h3></a>
            <br>
          </div>
      </div>
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span><br>
          <a  href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
      </li>
      {%- endfor -%}
    </ul>
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

<br>
    <h2 class="post-list-heading">Demo</h2>

      <a href="/rps" class="text-dark">  <h3 class="post-list">Demo - Building an in-browser Rock Paper Scissors Neural Network capable of beating humans</h3>
    <img class="img-fluid" src='/static/rps-screenshot.png'></a>

</div>
